				#previewFull {background-color: #666666 !important; width: 941px !important; color: inherit}
				#liveUpdateContactInfo {color: #ffffbb !important; background-color: inherit;}
				.borderRightDotted {border-right: 1px dotted #959595 !important;}
				.logo {display: none !important;}
				#liveUpdateCollectionDescription {color: #ffffbb !important; background-color: inherit;}
				.detailNav, .detailLinks, #detailCaption, #detailTitle {color: #c0c0c0 !important; background-color: inherit;}
				.emptyThumbnail {background-color: #606060 !important; color: inherit;}
				.thumbnail {background-color: #606060 !important; color: inherit;}
				.previewFullImage {height: 911px !important; width: 941px !important;}
				#stage2 {width: 941px !important;}
				.itemNumber {display: none !important; color: #9c9c9c !important; background-color: inherit;}
				#content {background-color: #000000 !important; color: inherit;}
				.borderTopLeft {border-top: 1px solid #959595 !important; border-left: 1px solid #959595 !important;}
				#stage {width: 484px !important;}
				.caption {color: #ffffbb !important; background-color: inherit;}
				#wrapper2 {width: 941px !important;}
				.borderBottomRight {border-right: 1px solid #959595 !important; border-bottom: 1px solid #959595 !important;}
				#wrapper {width: 484px !important;}
				#liveUpdateCollectionTitle {color: #ffffbb !important; background-color: inherit;}
				.paginationLinks, .pagination, #liveUpdatePagination {color: #ffffbb !important; background-color: inherit;}
				.selectedThumbnail, .thumbnail:hover {background-color: #a1a1a1 !important; color: inherit;}
				#liveUpdateSiteTitle {color: #ffffbb !important; background-color: inherit;}
				#thumbnailName {color: #c0c0c0 !important; background-color: inherit;}
				#largeName {color: #c0c0c0 !important; background-color: inherit; margin-top: 10px; margin-left: 7px; margin-right: 7px;}
				.borderBottom {border-bottom: 1px solid #959595 !important;}
				.borderRight {border-right: 1px solid #959595 !important;}
				body {background-color: #000000 !important; color: inherit;}
